/*
##############################
Start of home page
##############################
*/

/* Main navbar */
.main-nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  transition: background-color 0.7s;
  background-color: rgba(0, 0, 0, 0.7);
}
.main-nav .nav-show {
  display: block;
}
@media screen and (min-width: 576px) {
  .main-nav {
    width: calc(100vw - 250px);
    left: 250px;
    background-color: rgba(0, 0, 0, 0);
  }
  .main-nav.bg-on {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .main-nav .nav-show {
    display: none;
  }
}
.main-nav.bg-on {
  background-color: rgba(0, 0, 0, 0.7);
}
.main-nav .navbar-toggler {
  padding: 0;
  outline: none;
  box-shadow: none;
}
.main-nav .navbar-toggler svg {
  color: #999999;
  background-color: #99999934;
}
.main-nav a {
  color: #999999;
}

.main-nav a:hover {
  color: rgb(180, 180, 180);
}
.main-nav a.active {
  color: white;
  position: relative;
}
@media screen and (min-width: 768px) {
  .main-nav a.active::after {
    content: "";
    height: 2px;
    width: 35px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    border: 1px solid rgb(116, 173, 29);
  }
}
/* Throwback section */
#throwback {
  margin-top: 40px;
}
#throwback .card,
#shows .card {
  background-color: rgba(0, 0, 0, 0.123);
  cursor: pointer;
  transition: 0.75s;
}
#throwback .card:hover,
#shows .card:hover {
  transform: scale(1.05);
}
#throwback .card-title,
#shows .card-title {
  color: white;
  font-size: 0.9em;
}

/* Shows section */
#shows .shows-cards img {
  border-radius: 20px;
}

/* Search track section */
#search {
  min-height: 60vh;
}
#search-form button {
  background-color: #1cb955;
  color: white;
  font-weight: 700;
}
#search-form > * {
  height: 40px;
  border-radius: 5px;
}
#search-input {
  width: 230px;
}
#no-results-alert {
  height: 40px;
  border-radius: 5px;
  opacity: 0;
  transform: scaleY(0);
  transition: 1s;
}
#no-results-alert.show {
  opacity: 1;
  transform: scaleY(1);
}
/* Search grid */
#search .card {
  background-color: rgba(0, 0, 0, 0.123);
  cursor: pointer;
  transition: 0.5s;
}
.card-title {
  color: white;
  font-size: 0.9em;
}
.track-artist {
  color: #929292;
  font-size: 0.8em;
  margin: 0;
}
.card-text {
  color: #929292;
  font-size: 0.8em;
}
.card-play-btn,
.card-pause-btn {
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
  bottom: 10px;
  height: 40px;
  width: 40px;
  background-color: #1cb955;
  color: white;
  text-align: center;
  filter: drop-shadow(0 5px 10px black);
}
.playing .card-play-btn {
  display: none;
}
.playing .card-pause-btn {
  display: block;
}
.card-play-btn {
  transform: translateY(50%) scaleY(0);
  opacity: 0;
  transition: 0.5s;
}
.card-pause-btn {
  display: none;
}
#search .card:hover .card-play-btn {
  transform: translateY(0) scaleY(1);
  opacity: 1;
}

#search .top-tracks-cards img {
  border-radius: 20px;
}
