.hero-content .header-btns > button {
  width: 140px;
  letter-spacing: 1px;
}
.hero-content .hero-play-btn {
  background-color: #1cb955;
  border: 2px solid #1cb955;
  color: white;
  backface-visibility: hidden;
  transition: all 0.5s;
}
.hero-content .hero-follow-btn {
  color: white;
  margin: 0 10px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.4);
  backface-visibility: hidden;
  transition: all 0.5s;
}
.hero-follow-btn.followed {
  background-color: #1cb955;
}
.hero-content .header-btns i {
  color: white;
  font-size: 1.5em;
  backface-visibility: hidden;
  transition: all 0.5s;
}
.hero-content .header-btns > *:hover {
  transform: scale(1.05) translateZ(0);
}
.main-home .main-home-album-title {
  font-weight: bold;
  font-size: 0.9em;
}
.main-home .main-home-album-title:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.main-home .main-home-artist-name:hover {
  transform: scale(1.1);
  cursor: pointer;
}
#throwback {
  margin-top: 40px;
}
#throwback .card,
#shows .card {
  background-color: rgba(0, 0, 0, 0.123);
  cursor: pointer;
  transition: 0.75s;
}
#throwback .card:hover,
#shows .card:hover {
  transform: scale(1.05);
}
#throwback .card-title,
#shows .card-title {
  color: white;
  font-size: 0.9em;
}

/* Shows section */
#shows .shows-cards img {
  border-radius: 20px;
}
